#buttonBlock {
align-content: center;
}

.card {
    margin-right: 30px;
    font-size: 45px;
    /* text-align: center; */
    }
    
    h1 {
        font-size: 50px;
        text-align: center;
    }
    
    p {
        font-size: 20px;
        line-height: 25px;
        /* text-align: center; */
    }
    
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    